body {
    background-color: hsl(189, 9%, 55%);
}

.navbar {
background-color: #3582b6;

}

.button {
  background-color: #3582b6;
  border-color: #3582b6;
  margin-left: 10px;
}

.button:hover {
background-color: black;
}

h1 {
  margin-left: 10px;
}

#searchTerm {
  margin: 0px 10px 0px 0px;
}

.input-group-text {
  margin: 0px 0px 0px 10px;
}

.results {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}